DEBUG=0
SECRET_KEY=change_me
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=<DATABASE NAME HERE>
SQL_USER=<DB USER HERE>
SQL_PASSWORD=<DB PASSWORD HERE>
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres